@import '../_variables.scss';

div.terminal {
  font-family: monospace;
  color: white;
  background-color: lighten($dark-primary, 4);
  height: 28rem;
  padding: 1rem;
  font-size: 18px;
  overflow-y: auto;
  border-top: 1.5rem solid lighten($dark-primary, 6);
  border-radius: 0.5rem;
  overflow: auto;
  width: 100%;
  height: calc(100vw * 0.35);

  @include mobile() {
    width: 90vw;
    height: 80vh;
  }

  .intro-text {
    @apply mb-2;
  }

  .old-commands {
    @include glowing-text(darken($accent, 35));
  }

  .typing-line {
    @include glowing-text($accent);
  }

  input {
    background: transparent;
    @include glowing-text($accent);
    border: none;
    outline: none;
    width: 80%;

    &:focus {
    }
  }
}
