@import '../../_variables.scss';

.navbar {
  display: flex;
  margin: 1rem 1rem 0 1rem;
  position: relative;
  align-items: center;
  background: lighten($dark-primary, 1);
  border-radius: 0.35rem;
  padding-left: 4.9rem;

  @include mobile() {
    flex-direction: column;
    padding-left: 0;
  }
}

.navbar .navbar-item .navbar-item__logo {
  height: $logo-height;
  margin: 0;
  margin-right: 15px;
  padding: 0;

  @media screen and (max-width: 750px) {
    padding-top: 10px;
  }
}

.navbar .navbar-menu {
  display: flex;
  padding-left: 8vw;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 750px) {
  .navbar .navbar-menu {
    padding: 0;
    width: 100%;
    justify-content: space-around;
    margin-left: 0;
  }
}

.navbar .navbar-menu .navbar-item {
  padding: calc(var(--logo-height) / 2) 0px;
  border-bottom: 5px solid transparent;
  text-align: center;
  text-overflow: ellipsis;
  /**
   * Required properties to achieve text-overflow
   */
  white-space: nowrap;
  overflow: hidden;
  color: $color-highlight;

  &:hover {
    color: lighten($color-highlight, 30);
  }
}

@media screen and (max-width: 750px) {
  .navbar .navbar-menu .navbar-item {
    padding: calc(var(--logo-height) / 4) 0px;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar .navbar-menu .navbar-item:focus {
  color: lighten($accent, 30);
  outline: none;
  transition: color, border 100ms ease;
}

.navbar .navbar-menu a.navbar-item--active {
  color: darken($color-active-link, 15);
}

.navbar .navbar-menu a.navbar-item--active:hover {
  color: darken($color-active-link, 10);
}

.navbar .navbar-menu a.navbar-item--active:focus {
  color: darken($color-active-link, 10);
}

.navbar-item__header {
  @include glowing-text($accent);
  font-size: 1.5rem;
  padding: calc(var(--logo-height) / 2) 0px;
  transition: text-shadow 1s ease;

  &:hover {
    @include glowing-text(lighten($accent, 15));
  }
}
