@import './../_variables.scss';

main.index {
  width: 100%;
  .index--hero {
    align-items: center;
    @include mobile() {
      flex-direction: column;
    }
  }

  .im-section {
    flex: 1;
    margin: auto;
    @include bigger() {
      text-align: center;
    }

    @apply p-4;
    flex-direction: column;
  }

  .terminal-section {
    flex: 2;
    margin: auto;
    width: 100%;
    height: 100%;
    @apply p-2;

    @include bigger() {
      padding: 4rem;
      flex: 1;
    }
  }

  .header {
    @include mobile {
      text-align: center;
    }
  }

  .main.header {
    font-size: 3rem;
  }

  .second.subheader {
    font-size: 2rem;
  }

  .index--linkbar {
    a {
      padding: 1rem;
    }
  }
}
