@import './_variables.scss';

:root {
  --custom-orange: #f76239;
  --custom-black: #1b1b1b;
  --custom-red: #f5403d;
  --custom-yellow: #f79c3b;
  --tablet: 750px;
  --logo-height: 60px;
}

html {
  background-color: $dark-primary;
  color: $white;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

input {
  font-size: 18px;
}

a {
  text-decoration: none;
}

nav a {
  font-weight: bold;
}

main {
  min-height: 100vh;
}

svg {
  fill: currentColor;
}

.link-glow {
  @include glowing-text($highlight);

  &:hover {
    @include glowing-text(lighten($color-highlight, 30));
  }
}

.text-glow-blue {
  @include glowing-text($martiuh-blue);
}

.text-glow-red {
  @include glowing-text($martiuh-red);
}

.text-glow-orange {
  @include glowing-text($martiuh-orange);
}
