@import './_variables.scss';

:root {
  --custom-orange: #f76239;
  --custom-black: #1b1b1b;
  --custom-red: #f5403d;
  --custom-yellow: #f79c3b;
  --tablet: 750px;
  --logo-height: 60px;
}



html {
  font-size: 16px;
  background-color: $dark-primary;
  color: $white;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

input {
  font-size: 18px;
}

a {
  text-decoration: none;
}

nav a {
  font-weight: bold;
}

main {
  min-height: 100vh;
}

svg {
  fill: currentColor;
}

.content {
  padding: 1rem;
}

.shadow-2xl {
  box-shadow: 0 5px 9px 1px rgba(0, 0, 0, 0.7);
}

.text-container {
  /* this is great */
  @apply mt-5 p-4;
}

.bp-format {
  line-height: 1.5rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--custom-orange);
    margin: 1rem 0;

    &:first-child {
      margin-top: 0;
    }
  }

  p,
  li {
    color: var(--custom-black);
  }

  a {
    color: var(--custom-red);
  }
}

.flex--centered {
  @apply flex items-center justify-center;
}

.flex--center-between {
  @apply flex items-center justify-between;
}

.flex--center-around {
  @apply flex items-center justify-around;
}

a.primary-link {
  color: var(--custom-red);
  --font-size: 1.2rem;
  font-size: var(--font-size);
  font-weight: bold;
  display: flex;
  @apply inline-block p-3 text-red-dark;

  &:hover,
  &:focus {
    @apply text-red-light;
  }

  &:focus {
    @apply border-red-light;
    outline: 2px dashed;
    text-decoration: underline;
  }

  svg {
    margin: 0 0.3rem;
    height: var(--font-size);
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
  }
}

.text-container {
  @apply text-justify;
  padding: 0 0.5rem;
  margin: 1rem 0;

  @media screen and (min-width: 750px) {
    padding: 0 5rem;
  }
}

.text-center {
  text-align: center;
}

.show-mobile {
  display: none;
  @include mobile() {
    display: inherit;
  }
}
