---
import "@/styles/global.css";
interface Props {
  title?: string;
  metatags?: { property: string; content: string }[];
}

const title = Astro.props.title || "martiuh.com | A wonderer";
const metatags = Astro.props.metatags || [];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {
      metatags.map((tag) => (
        <meta property={tag.property} content={tag.content} />
      ))
    }
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
